body {
  background-color: black;
  color: white;
}

.App, .player-data, .computer-data, .results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  list-style: none;
  padding: 0;
}

.game-data, .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.rps-button {
  height: 8em;
  width: 8em;
  font-size: 2em;;
  color: white;
  background: black;
  border: solid 2px white;
  border-radius: 10%;
}
  
.rps-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.player-tag {
  font-size: large;
  font-weight: bold;
}

.player-data>li, .computer-data>li {
  margin-bottom: 1em;
}

.player-choice, .computer-choice, .result-message {
  font-size: 1.5em;
}

.buttons {
  margin-bottom: 3em;
}