html {
  background-color: black;
  color: white;
}

.App, .player-data, .computer-data, .results, #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  list-style: none;
  padding: 0;
}

.game-data, .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.rps-button {
  height: 7em;
  width: 7em;
  font-size: 2em;
  color: white;
  background: black;
  border: solid 2px white;
  border-radius: 10%;
}
  
.rps-button:hover, .play-again-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.player-tag {
  font-size: large;
  font-weight: bold;
}

.player-data>li, .computer-data>li {
  margin-bottom: 1em;
}

.player-choice, .computer-choice, .game-message {
  font-size: 1.5em;
}

.buttons {
  margin-bottom: 3em;
}

.play-again-button {
  width: 8em;
  height: 4em;
  font-size: 1em;
  color: white;
  background: black;
  border: solid 2px white;
  border-radius: 5%;
  margin-bottom: 3em;
}

@media screen and (max-width: 850px) {
  .rps-button { 
    font-size: 1em;
  }

  .buttons {
    display: flex;
    gap: 2em;
  }

  .player-data, .player-data>li, .computer-data, .computer-data>li {
    margin-bottom: 0.5em;
  }

  .player-choice, .computer-choice, .game-message {
    font-size: 1em;
  }
}

@media screen and (max-height: 450px) {
  .buttons, .player-data, .computer-data {
    margin-bottom: 0em;
  }
}